<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Run">
  <test name="Common Verification">
    <classes>
      <class name="CucumberTest.ToolTip"></class>
      <class name="CucumberTest.Menu"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
